{% extends 'historia1/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <center><h1>CONSULTAR</h1></center>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-body">
        <a href="/consultar/p" role="button" class="btn btn-primary btn-lg btn-block">Programas</a>
        <a href="/consultar/s" role="button" class="btn btn-primary btn-lg btn-block">PASA</a>
        <a href="/consultar/t" role="button" class="btn btn-primary btn-lg btn-block">Transcripciones</a>
        <a style="margin-top: 10px;" href="../" role="button" class="btn btn-primary">Regresar</a>

      </div>
    </div>
  </div>
</div>
{% endblock %}