{% extends 'historia1/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">

    <h1 style="text-align:center;">Transcripción</h1>
  {% if request.GET.msg %}
    {% if request.GET.msg == "saved"%}
      <div style="text-align:center;" class="alert alert-success">La Transcripción ha sido guardada exitosamente</div>
    {% endif %}
  {% endif %}

    <div class="col-md-5 col-sm-5">
      <object data='{{url}}' 
          type='application/pdf' 
          width='100%' 
          height='700px'/></object>
    </div>

    <div class="col-md-4 col-sm-4">
      <textareal id="id_pdf_to_text" name="pdf_to_text" width='100%'>
        <p style="text-align: center;">
          {{strng}}
        </p>
      </textareal>
    </div>

    <div class="col-md-3">
    <div class="addFields">
      <button style="margin-bottom: 10px;" id="agregar" class="btn btn-primary col-md-12 form-control" type="button">Agregar Campo</button>

      <div id="tipoCampo" hidden>
        <select id="select" class="form-control">

          <option selected disabled hidden value="">Seleccione Un Tipo de Campo a Agregar</option>

          <optgroup label="Campos Normados">
            <option value="1">Requisitos</option>
            <option value="2">Objetivos</option>
            <option value="3">Estrategias Metodológicas</option>
            <option value="4">Estrategias de Evaluación</option>
          </optgroup>

          <optgroup label="Campos Adicionales">
            <option value="5">Justificación</option>
            <option value="6">Ninguna de las Anteriores</option>
          </optgroup>

        </select>
        <button style="margin-bottom: 20px;margin-top: 10px;" id="nuevoCampo" class="btn btn-primary form-control">Agregar</button>
      </div>
    </div>

    <div style="margin-top:10px;">
    <button id="extraer" type="button" class="btn btn-primary form-control">Extraer</button>
      <select style="margin-top:10px;margin-bottom: 10px;" class="form-control">
        <option id="opcionE"  value="0" label="Código y departamento"></option>
      </select>
      </div>

    <form method="post" enctype="multipart/form-data">
      {% if form_s.non_field_errors %}
        {% for error in form_s.non_field_errors %}
         <div class="alert alert-danger" role="alert"> {{error}}</div>
        {% endfor %}
      {% endif %}
     
      {% csrf_token %}
      {% for field in form_s %}

        {% if field.name in requeridos %}

          {% if field.name not in act %}

            <div class="form-group" id="{{field.auto_id}}" hidden>
            {{ field.label_tag }} {{ field }}
            </div>
            {% if field.errors %}
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert" hidden>{{ error }}</div>
              {% endfor %}
            {% endif %}

          {% else %}

            <div class="form-group" id="{{field.auto_id}}">
              {{ field.label_tag }} {{ field }}
              </div>
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
              {% endif %}

          {% endif %}

        {% else %}

            <div class="form-group" id="{{field.auto_id}}">
              {{ field.label_tag }} {{ field }}
              </div>
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
              {% endif %}

        {% endif %}

      {% endfor %}

      {{ form_.management_form }}
      {% for field in form_%}
        <div class="formset">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      <script>
        $('.formset').formset({
              addText: 'add link',
              deleteText: 'remove'
          });
        $('#agregar').on('click',function(){
          $("#tipoCampo").show();
        });
        var delete_click = $('.delete-row').last();
        delete_click.click();
        $('.add-row').hide();
        $('.delete-row').hide();
        $('#nuevoCampo').on('click',function(){
          x = $('select').val();
          console.log(x);
          switch (x) {
            case '1':
              $('.form-group:contains(Requisitos:)').show();
              break;
            case '2':
              $('.form-group:contains(Objetivos:)').show();
              break;
            case '3':
              $('.form-group:contains(Estrategias Metodológicas:)').show();
              break;
            case '4':
              $('.form-group:contains(Estrategias de Evaluación:)').show();
              break;
            case '5':
              $('.form-group:contains(Justificación:)').show()
              break;
            default:
              $('.add-row').click();
              break;
          }
        $('#select').prop('selectedIndex',0);
        $("#tipoCampo").hide();
        $('.delete-row').hide();
        });
      </script>

      <div id="0">
      {% for field in form_1 %}
      <div class="formset" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}

      {{ form_2.management_form }}
      {% for field in form_2 %}
      <div class="formset_" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}
      </div>

      <div id="1">
      {% for field in form_3 %}
      <div class="formset" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}

      {{ form_4.management_form }}
      {% for field in form_4 %}
      <div class="formset_1" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}
      </div>


      <div id="2">
      {% for field in form_5 %}
      <div class="formset" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}

      {{ form_6.management_form }}
      {% for field in form_6 %}
      <div class="formset_2" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}
      </div>


      <div id="3">
      {% for field in form_7 %}
      <div class="formset" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}

      {{ form_8.management_form }}
      {% for field in form_8 %}
      <div class="formset_3" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}
      </div>


      <div id="4">
      {% for field in form_9 %}
      <div class="formset" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}

      {{ form_10.management_form }}
      {% for field in form_10 %}
      <div class="formset_4" id="{{field.auto_id}}">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
        {% endif %}
        {{ field.label_tag }} {{ field }}
      </div>
      {% endfor %}
      </div>

      <button class="btn btn-primary" id="agRef" type="button">Agregar Referencia</button>




      <div style="display:none;" id="msg" class="alert alert-warning">Recuerde que para ser P.A.S.A. todos los campos <strong>obligatorios</strong> deben estar <strong>llenos</strong> y cumplir sus <strong>restricciones</strong></div>
      <button class="btn btn-primary btn-lg" type="submit">Guardar</button>

    <script>
    $(document).change(function(){
      var suma = 0;
      suma= Number($('#id_horas_teoria').find('input').val())+Number($('#id_horas_lab').find('input').val())+Number($('#id_horas_practica').find('input').val());
      if ((suma)>40){
          alert("La suma de las horas de teoría, laboratorio y práctica deben ser menor a 40.");
      }
      if (Number($('#id_creditos').find('input').val())>16){
          alert("Las Unidades Créditos debe ser un número entre 0 y 16.");
      }
      if (Number($('#id_year').find('input').val())<1969 && Number($('#id_year').find('input').val()) != 0){
          alert("El año de entrada en vigencia no puede ser menor a 1969.");
      }
      if (Number($('#id_year').find('input').val())>2017){
          alert("El año de entrada en vigencia no puede mayor al año actual.");
      }
    });
    $(document).ready(function() {
      var r = $('<button type="button" class="btn btn-primary" id="cambiar">Cambiar Formato Fecha</button>');
        r.insertBefore( "#id_year" );
      $('#id_fecha').hide();
      $('i[name=test]').hide();
       $("#cambiar").click(function(){   
      $('#id_fecha').toggle();
      $('i[name=test]').toggle();
      $('#id_trimestre').toggle();
      $('#id_year').toggle();
       }); 
        $("#extraer").click(function(){
        if($("#opcionE" ).val()==0){
        
          if('{{codigo}}'!="NULL"){ 
        
            $('#id_codigo').find('input').val('{{codigo}}');
            var str = '{{codigo}}';
            var res = str.substring(0, 2);
            if(res=='EP' || res=='ET' || res=='PG' || res=='PD' || res=='TG' || res=='TEG' || res=='USB' ){  
              alert("Codigo encontrado:{{codigo}}  \nNo es un departamento, pero son siglas validas asociadas:{{departamento}}");
              //61 es para ninguno
              $("#id_departamento select").val(61);     
            }
            else{  
              var existeDep=false;
              $("#id_departamento option").each(function()
              {
                  if('{{departamento}}'==$(this).text()){
                    $("#id_departamento select").val($(this).val());
                    existeDep=true;
                  }
              });
              
              if(existeDep){
                alert("Codigo encontrado:{{codigo}}  \nDepartamento encontrado:{{departamento}}"); 
              }else{
                alert("Codigo encontrado:{{codigo}}  \nDepartamento No encontrado en los ya existentes:{{departamento}}"); 
              
              
              }
            }
           }
           else{alert("No se ha encontrado algún código,por favor insertarlo manualmente");  }
          
        } 
          

      
        }); 
    });
</script>
    </form>
    </div>
  </div>
</div>
<script>
  $('.formset_').formset({
        addText: 'agregar autor',
        deleteText: 'remove'
    });
  $('.formset_1').formset({
        addText: 'agregar autor',
        deleteText: 'remove'
    });
  $('.formset_2').formset({
        addText: 'agregar autor',
        deleteText: 'remove'
    });
  $('.formset_3').formset({
        addText: 'agregar autor',
        deleteText: 'remove'
    });
  $('.formset_4').formset({
        addText: 'agregar autor',
        deleteText: 'remove'
    });

  var i = 1
  x = '.formset_'

  for (j=1;j<5;j++){
    y = '#' + j.toString();
    $(y).hide();
  }

  $('#agRef').on('click',function(){
    y = '#' + i.toString();
    $(y).show();
    i += 1
  });
</script>

{% endblock %}