{% extends 'historia1/base.html' %}
{% load static %}
{% block content %}
<div style="text-align:center" class="page-header container">
  <div class="jumbotron">
    <img class="img-responsive center-block" src="{% static "images/usb.png" %}" width="10%" height="auto">
    <h1>SIGPAE-Históricos</h1>
    <h2><small>Sistema de Gestión de Programas Analíticos de Estudio</small></h2>
  </div>
</div>
  {% if request.GET.msg %}
    {% if request.GET.msg == "pasa_saved"%}
      <div class="alert alert-success">Ha sido guardada la solicitud de documento P.A.S.A.</div>
    {% endif %}
    {% if request.GET.msg == "error"%}
      <div class="alert alert-danger">Ha ocurrido un error. Intente de nuevo.</div>
    {% endif %}
  {% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center">
         <h2 class="panel-title">Cargar</h2>
        </div>
        <div class="panel-body">
          <a href="/upload" role="button" class="btn btn-primary btn-lg btn-block">PDF</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center">
         <h2 class="panel-title">Consulta</h2>
        </div>
        <div class="panel-body">
          <a href="/consultar/p" role="button" class="btn btn-primary btn-lg btn-block">Programas</a>
          <a href="/consultar/s" role="button" class="btn btn-primary btn-lg btn-block">Por Aprobar</a>
          <a href="/consultar/t" role="button" class="btn btn-primary btn-lg btn-block">Transcripciones</a>
        </div>
      </div>
    </div>
          
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center">
         <h2 class="panel-title">Reportes</h2>
        </div>
        <div class="panel-body">
          <a href="/reportes/global" role="button" class="btn btn-primary btn-lg btn-block">Global</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}