{% extends 'historia1/base.html' %}

{% block content %}
    <center><h1>CARGAR PDF</h1></center>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

            {% if error %}
                <div class="alert alert-danger">{{error}}</div>
            {% endif %}

        <div class="panel">
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Siguiente</button>
                </form>

                <a style="margin-top: 10px;" href="../" role="button" class="btn btn-primary">Regresar</a>

            </div>

        </div>
    </div>
    <div class="col-md-4">
    </div>

{% endblock %}
