{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <head>
        <link rel="stylesheet" href="{% static "bootstrap/js/bootstrap.min.css" %}">
        <script src="{% static "tinymce/tinymce.min.js" %}"></script>
        <script src="{% static "tinymce/tinymce.js" %}" ></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "jquery/js/jquery.js" %}"></script>
      </head>
      <title>Proyecto SIGPAE</title>
    </head>

    <body>
    {% block content %}
    {% endblock content %}
    </body>
</html>
