{% extends 'historia1/base.html' %}
{% load static %}

{% block content %}
<div class="container">

  <div class="row">

    <h1>Texto Inicial</h1>
    <div class="col-md-6">
      <textarea>
        <p style="text-align: center;">
          {{strng.texto}}
        </p>
      </textarea>
    </div>

    <div class="col-md-6">
      <h1>Nombre de Asignatura</h1>
      <textareat class="varios">
      </textareat>

      <h1>Código de Asignatura</h1>
      <textareat class="varios">
      </textareat>

      <h1>Créditos</h1>
      <textareat class="varios">
      </textareat>

      <h1>Objetivos</h1>
      <textareat class="varios">
      </textareat>

      <h1>Período Vigencia</h1>
      <label>Trimestre</label>
      <select>
        <option value="EM">Enero - Marzo</option>
        <option value="AJ">Abril - Julio</option>
        <option value="SD">Septiembre - Diciembre</option>
      </select>
      
      <label>Año</label>
      <input type="number" min="1969" max="2017" step="1" value="2017" />

    </div>
  <div>

</div>
{% endblock %}
